<div id="average_salary" class="min-w-full ">
  <div class="rounded-xl overflow-auto">
    <table class="border-collapse table-auto w-full text-sm">
      <thead>
        <tr>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap">Position</th>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap">Average Salary</th>
        </tr>
      </thead>
      <% data.each do |row| %>
        <tr>
          <td class="border px-8 py-4 w-full whitespace-nowrap">-</td>
          <td class="border px-8 py-4 w-full whitespace-nowrap"></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
